// ===========================================
// 全体共通用
// カラー設定
// ===========================================

// -------------------------------------------
// メインなど
// -------------------------------------------
$baseColor: #393e46;
$mainColor: #222831;
$subColor: #dcdcdc;
$accentColor: #00adb5;

// -------------------------------------------
// カラー別
// -------------------------------------------
$whiteColor: #fff;
$blackColor: #020202;
