/* stylelint-disable scss/dollar-variable-pattern */
// ===========================================
// 全体共通用
// フォント設定
// ===========================================

$baseFont: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
  "Meiryo", "arial";
$notoSans: "Noto Sans JP", $baseFont;
$abrilFatface: "Abril Fatface", $baseFont;
$roboto: "Roboto Mono", $baseFont;
